.inner_card_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  row-gap: 1rem;
  column-gap: 1.5rem;
}

.inner_card {
  border: 2px solid #f0ecec;
  display: flex;
  justify-content: space-between;
  height: 5rem;
  position: relative;
  background-color: #fff;
}

.inner_card > p {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 1.5rem;
}

.card_title {
  white-space: pre-line;
}

.card_icon {
  height: auto;
  overflow: hidden;
}
.card_icon_inner {
  margin-top: 80%;
  margin-left: 25%;
  overflow: hidden;
}
