.dashboard_card {
  background-color: #fff;
  padding: 20px 25px;
  margin: auto;
  margin-top: 10px;
  width: 80%;
}

.dashboard_card_header {
  font-weight: 550;
}

.card_body {
  padding: 30px 0px 0px 0px;
}
