* {
  margin: 0;
  padding: 0;
  font-family: "Mulish", sans-serif;
  font-size: 1rem;
  box-sizing: border-box;
  --active-bg-color: #0747a6;
  --active-text-color: #fff;
}

body,
html {
  background-color: #f5f6f9;
}

a {
  color: var(--active-text-color);
  text-decoration: none;
  cursor: pointer;
  border-radius: 3px;
  padding: 5px 15px;
  text-align: center;
}

.app_body {
  margin-top: 70px;
}

/* global date input */
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.calendar_input::before {
  width: 100%;
  content: attr(placeholder);
  color: #d0d5d9;
}

::placeholder {
  color: #d0d5d9;
}

select:required:invalid {
  color: #d0d5d9;
}

select option {
  color: #000;
}
